@page
@model HRsystem.Pages.Account.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AccountInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountInfo.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountInfo.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountInfo.Authority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountInfo.Authority)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AccountInfo.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
