@page
@model HRsystem.Pages.Account.LoginModel
@{
}
<section class=" p-5 bg-light ">

<div class="text-center">
    <h1 class="display-2 text-primary">Login</h1>
</div>

<div class="w-50 container border-0">
    <form method="post">

        <div class="form-outline mb-4 ">
            <label class="form-label text-secondary display-6 " asp-for="Id">ID</label>
            <input class="form-control" asp-for="Id" value="" placeholder="用户名" />
            <span asp-validation-for="Id"></span>
        </div>
        <div class="form-outline mb-4 ">
            <label class="form-label text-secondary display-6" asp-for="Password">Password</label>
            <input class="form-control" asp-for="Password" type="password" placeholder="密码" />
            <span asp-validation-for="Password"></span>
        </div>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert-danger  w-50  container text-center">@Model.ErrorMessage</div>
        }
        <br />

        <input type="checkbox" value="true" asp-for="rememberMe" /> 记住我
        <br />
        <div class="text-center ">

        <button type="submit" class=" btn  btn-primary btn-lg  ">登录</button>

        </div>
    </form>
</div>

</section>