@page
@model HRsystem.Pages.Account.RegisterModel
@{
}
<h1>Register</h1>
<div class="text-danger">

    <h1>@Model.information</h1>

</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div>
        <label asp-for="inputID"></label>
        <input asp-for="inputID" />
        <span asp-validation-for="inputID"></span>
    </div>
    <div>
        <label asp-for="inputPassword"></label>
        <input asp-for="inputPassword" />
        <span asp-validation-for="inputPassword" class="text-danger"></span>
    </div>
    <button type="submit">Register</button>
</form>