@page
@model HRsystem.Pages.Ui.AdminInfoModel
@{
    ViewData["Title"] = "AdminInfo Ui page";
}
<h4>AdminInfoUi</h4>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Person/Index">Person</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Salary/Index">Salary</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-page="/Department/Index">Department</a>
</li>