@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<div class="w-50 container">
    <form method="post">

        <div class="form-outline mb-4 ">
            <label class="form-label" asp-for="LoginData.Id">用户名:</label>
            <input class="form-control" asp-for="LoginData.Id" value="" />
            <span asp-validation-for="LoginData.Id"></span>
        </div>
        <div class="form-outline mb-4 ">
            <label class="form-label" asp-for="LoginData.Password">密码:</label>
            <input class="form-control" asp-for="LoginData.Password" type="password" />
            <span asp-validation-for="LoginData.Password"></span>
        </div>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div>@Model.ErrorMessage</div>
            }

        <button type="button" class="btn container btn-primary btn-block mb-4">登录</button>

    
    </form>
</div>
